* {
	box-sizing: border-box;

	--ff-main: "Jost", sans-serif;
	--ff-secondary: "Metrophobic", sans-serif;
	--ff-normal: "Work Sans", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--ff-main);
}

// default overrides
button {
	cursor: pointer;
}
ul {
	padding: 0;

	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}

// designs
.app__logo {
	font-family: var(--ff-normal);
	color: purple;
	user-select: none;

	h2 {
		margin: 10px 0;

		span {
			font-size: 1em;
			color: #444;
			font-family: var(--ff-secondary);
		}
	}
}
form {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 15px;

	.form__field {
		display: flex;
		flex-direction: column;
		gap: 10px;

		label {
			font-family: var(--ff-secondary);
			font-size: 13px;
			font-weight: 600;
		}

		input {
			height: 43px;
			padding: 10px 15px;
			background: transparent;
			border-radius: 30px;
			border: 2px solid lightgrey;
			font-family: var(--ff-secondary);
		}
	}
	.help {
		font-size: 14px;
		font-weight: 500;
		color: purple;
	}
	.controls {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		p {
			font-size: 13px;
		}

		button {
			width: 100%;
			font-family: var(--ff-main);
			font-size: 15px;
			padding: 10px 15px;
			border-radius: 30px;
			border: 0px;
			background: purple;
			color: white;
		}
	}
}
