* {
	box-sizing: border-box;

	--ff-main: "Jost", sans-serif;
	--ff-secondary: "Metrophobic", sans-serif;
	--ff-normal: "Work Sans", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	font-family: var(--ff-main);
}

// default overrides
button {
	cursor: pointer;
}
ul {
	padding: 0;

	list-style: none;
}

.app__logo {
	font-family: var(--ff-normal);
	color: purple;
	user-select: none;

	h2 {
		margin: 10px 0;

		span {
			font-size: 1em;
			color: #444;
			font-family: var(--ff-secondary);
		}
	}
}
