.details {
	.detail__field {
		padding-top: 30px;

		p,
		h2,
		h3,
		h4 {
			margin: 0;
		}
		p.label {
			font-size: 14px;
			color: #656565;
		}
		.columns {
			width: 100%;
			display: grid;
			grid-template-columns: 6fr 4fr;
			grid-template-rows: 70px;
			margin-bottom: 30px;

			gap: 30px;

			.meta {
				flex: 0 0 70%;

				h3,
				h4,
				h5 {
					span {
						cursor: pointer;
						margin-left: 10px;
						color: purple;

						svg {
							transform: translateY(4px);
						}
					}
				}

				form {
					margin-top: 5px;
					width: 75%;

					.form__field {
						flex-direction: row;

						input {
							flex: 1 1 100%;
						}
					}
					.controls {
						width: fit-content;
						flex-direction: row;
						gap: 5px;

						button {
							padding: 10px 40px;

							&.secondary {
								background: #fff;
								border: 1px solid purple;
								color: purple;
							}
						}
					}
				}
			}
			.date {
				flex: 1 1 30%;
			}
		}
	}
}
